form{
    background-color: rgb(21, 115, 158);
    border-radius: 3px;
    color: rgb(6, 92, 25);
    font-size: 0.8em;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}